/*1rem = 16pixels*/
html{
	font-size: 62.5%;
}

body{
	margin: 0;
	font-family: Helvetica, Arial,sans-serif;
	font-size: 1.6rem;
	background-color: #333745;
}

button{
	cursor: pointer;
}

button:disabled{
	cursor: default;
}

.container{
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 1.6rem;

}

.header {
	background: #20222b;
	color: white;
	margin-bottom: 1.6rem;
	padding: 1.6rem 0;
}
.header h1 {
	font-size: 3.2rem;
	margin: 0;
	
}

.header h2{
	color: #a5afd7;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;

}

.big-button{
	background-color: #8357c5;
	border: none;
	border-bottom: 0.6rem solid #693cad;
	color: white;
	font-weight: bold;
	font-size: 3.2rem;
	margin-bottom: 1.6rem;
	text-align: center;
	padding: 2.4rem 0;
	width: 100%;
}

.big-button:disabled {
	opacity: 0.5;
}

.button{
	background-color: #8357c5;
	border: none;
	border-bottom: 0.3rem solid #693cad;
	color: white;
	font-weight: 500;
	padding: 1.2rem;
}

.button--link {
	background: none;
	border: none;
	padding: 0;
	color: #a5afd7;
}

.widget{
	background-color: #464b5e;
	margin-bottom: 4.8rem;
}

.widget__message{
	color:#a5afd7;
	margin: 0;
	padding: 3.2rem;
	text-align: center;
	border-bottom: 1px solid #5c627b;
}

.widget-header{
	background-color: #3c4251;
	color: #a5afd7;
	display: flex;
	justify-content: space-between;
	padding: 1.6rem;
}

.widget-header h3{
	margin: 0;
}

.option{
	display: flex;
	justify-content: space-between;
	padding: 3.2rem 1.6rem;
	border-bottom: 1px solid #5c627b;
	color:  #a5afd7;
}

.option p{
	font-size: 2rem;
	font-weight: 500;
	margin: 0;
	word-break: break-all;
}


.add-option{
	display: flex;
	padding: 1.6rem;
	flex-direction: column;

}

.add-option input{
	flex-grow: 1;
	background-color: #333745;
	border: none;
	border-bottom: 0.3rem solid #1d2028;
	margin: 0 0 1.2rem 0;
	color: #a5afd7;
	padding: 1.2rem;
	font-size: 1.6rem;
}

.add-option-error {
	color: #a5afd7;
	font-style: italic;
	padding: 0 1.6rem;
	margin: 1.6rem 0 0 0;
}

.ReactModalPortal > div{
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
	opacity: 0;
}

.modal{
	background-color: #333745;
	color: white;
	max-width: 30rem;
	outline: none;
	padding: 3.2rem;
	text-align: center;

}

.modal h3{
	margin: 0 0 1.6rem 0;
}

.modal p{
	font-size: 2rem;
	font-weight: 300;
	margin: 0 0 3.2rem 0;
	word-break: break-all;
}

@media (min-width: 45rem) {
	.add-option{
		flex-direction: row;
	}
	.add-option input{
		margin: 0 1.2rem 0 0;		
	}
	.header{
		margin-bottom: 4.8rem;
	}

	.big-button{
		margin-bottom: 4.8rem;
	}
}

